{{!--
<link rel="stylesheet" href="/css/login.css"> --}}

<body id="login-page">
  <div class="row">
    <div class="row">
      <div class="col-md-6 FORMS">
        <h3 id="login">Login</h3>
        <br>
        <form class="form login-form" id="lform">
          <div class="form-group">
            <label id="login" for="name-signup">Username:</label>
            <input class="form-input" type="text" id="username-login" />
          </div>
          <br>
          <div class="form-group">
            <label id="login" for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
          </div>
          <br>
          <p>
          <div id="passwordLogin" class="form-group">
            <button class="btn btn-primary" type="submit">Login</button>
            </p>
            <button class="button" id="login-btn"><a class="anchor" href="/signup">Signup instead</a></button>
          </div>
        </form>

</body>
<script src="/js/login.js"></script>