{{!-- <link rel="stylesheet" href="/css/login.css"> --}}
<div class="col-md-6 FORMS">
     <h3 id="signup">Signup</h3>
      <form class="form signup-form">
        <br>
        <div class="form-group">
          <label id="signup" for="name-signup">Username:</label>
          <input class="form-input" type="text" id="name-signup" />
        </div>
        <br>
        <div class="form-group">
          <p>
          <label id="signup" for="password-signup">Password:</label>
          <input class="form-input" type="password" id="password-signup" />
          </p>
          <br>
          <button class="btn btn-primary" type="submit">Signup</button>
        </div>
        
          
        </div>
      </form>
    </div>
  </div>
</body>

<script src="/js/signup.js"></script>